*.pyc
*.ini
.idea/
.env
.cache

wapor_algorithms/gee_sa_files/*.json
!wapor_algorithms/gee_sa_files/ServiceAccount-template.json
wapor_algorithms/image_test
wapor_algorithms/log_files
wapor_algorithms/ancillary/wpCalc.uml
*.egg-info
