[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '2.7.14'

[dev-packages]
sphinx = "*"
ipython = "*"
ipdb = "*"
"flake8" = "*"
"doc8" = "*"
pytest = "*"
twine = "*"

[packages]
earthengine-api = "*"
requests-oauthlib = "*"
google-auth-oauthlib = "*"
click = "*"
dask = {extras = ["complete"], version = "*"}
daiquiri = "*"
click-configfile = "*"
pendulum = "*"
marmee = "*"
"oauth2client" = "*"
toolz = "*"
gee-pheno = "==0.1.8b2"
