[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '2.7.14'

[dev-packages]
sphinx = "*"
ipython = "*"
ipdb = "*"
"flake8" = "*"
"doc8" = "*"
pytest = "*"

[packages]
earthengine-api = "*"
service-identity = "*"
geojson = "*"
gdal = "==2.1.3"
"beautifulsoup4" = "*"
retrying = "*"
simplejson = "*"
scandir = "*"
google-auth = "*"
requests-oauthlib = "*"
google-auth-oauthlib = "*"
click = "*"
"e1839a8" = {path = ".", editable = true}
marshmallow-oneofschema = {git = "https://github.com/francbartoli/marshmallow-oneofschema.git", editable = true, ref = "master"}
"autopep8" = "*"
dask = {extras = ["complete"]}
daiquiri = "*"
click-configfile = "*"
pendulum = "*"
marmee = "*"
